{% extends "layouts/base.html" %}
{% load l10n %}
{% load i18n %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .form-row {
        display: flex;
        flex-wrap: wrap;
        margin: -10px -5px;
        align-items: center;
    }
    .form-group {
        margin: 10px 5px;
        display: inline-block;
    }
      
</style>

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">

                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-xl-8" style="margin: 0 auto;">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>Bank Status</h5>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr class="table" style="background: #000000bf;color: white;">
                                                            <th>User Id</th>
                                                            <th>Bank Name</th>
                                                            <th>Account No.</th>
                                                            <th>Est. Balance</th>
                                                            <th>Enabled</th>
                                                            <th>Last Synced Status</th>
                                                            <th>Last Successfull Synced</th>
                                                        </tr>
                                                        {% for bank in banks  %}
                                                            <tr>
                                                                        <td>
                                                                            <h6 class="mb-1">{{bank.username}}</h6>
                                                                        </td>
                                                                        <td>
                                                                            <h6 class="mb-1">{{bank.name}}</h6>
                                                                        </td>
                                                                        <td>
                                                                            <h6 class="mb-1">{{bank.account_num}}</h6>
                                                                        </td>
                                                                        <td>
                                                                            <h6 class="mb-1">RM {{bank.available_balance|floatformat:2}}</h6>
                                                                        </td>
                                                                        <td>
                                                                            <h6 class="mb-1"><i class="fa fa-check"></i> &nbsp; Yes</h6>
                                                                        </td>
                                                                        <td>
                                                                            {% if bank.is_enabled %}
                                                                                <h6 class="mb-1">Successfull</h6>
                                                                            {% else %}
                                                                                <h6 class="mb-1">Paused</h6>
                                                                            {% endif %}
                                                                        </td>
                                                                        <td>
                                                                            <h6 class="mb-1">{{bank.last_synced}}</h6>
                                                                        </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% comment %} Filters added here {% endcomment %}
                            <br><br><br><br>

                            <form>
                                <div class="form-row">
                                  <div class="form-group">
                                    <label for="user">User ID:</label>
                                    <select id="user" name="user">
                                        {% for bank in banks  %}
                                            <option value={{bank.username}}>{{bank.username}}</option>
                                        {% endfor %}
                                    </select>
                                  </div>&nbsp;&nbsp;&nbsp;
                                  <div class="form-group">
                                    <label for="bank">Bank Name:</label>
                                    <select id="bank" name="bank">
                                        {% for bank in banks  %}
                                            <option value={{bank.name}}>{{bank.name}}</option>
                                        {% endfor %}
                                    </select>
                                  </div>&nbsp;&nbsp;&nbsp;
                                  <div class="form-group">
                                    <label for="start-date">Start date:</label>
                                    <input type="date" id="start-date" name="start-date">
                                  </div>&nbsp;&nbsp;&nbsp;
                                  <div class="form-group">
                                    <label for="end-date">End date:</label>
                                    <input type="date" id="end-date" name="end-date">
                                  </div>&nbsp;&nbsp;&nbsp;
                                  <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                  </div>
                                </div>
                                
                            </form>
                            <br>
                            
                            <div class="form-row">
                                <div class="form-group">
                                    <input type="text" name="filter" placeholder="Filter: type any text here">
                                </div>
                                &nbsp;&nbsp;
                                <div class="form-group">
                                    <label for="page-size-dropdown">Page Size:</label>
                                    <select id="page-size-dropdown" name="page-size" style="width:4rem">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                    </select>
                                </div>
                                &nbsp;&nbsp;
                                <div class="form-group">
                                    <label for="auto-refresh-dropdown">Auto Refresh(Sec):</label>
                                    <select id="auto-refresh-dropdown" name="auto-refresh" style="width:4rem">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                    </select>
                                </div>
                                &nbsp;&nbsp;
                                <div class="form-group">
                                    <label for="show-done-dropdown">Show Done Record:</label>
                                    <select id="show-done-dropdown" name="show-done" style="width:4rem">
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                    </select>
                                </div>
                                &nbsp;&nbsp;
                                <div class="form-group">
                                    <button class="btn btn-primary" style="height:80%"><i class="fa fa-plus"></i> Add new record</button>
                                </div>
                                <div class="form-group" style="margin-left:auto;">
                                    <a href=''><u>Export</u></a>
                                </div>
                                
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>Transactions Listing</h5>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive table-striped">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr class="table" style="background: #000000bf;color: white;">
                                                            <th>Trans. ID</th>
                                                            <th>User ID</th>
                                                            <th>Trans_Date</th>
                                                            <th>TimeStamp</th>
                                                            <th>Bank</th>
                                                            <th>Description</th>
                                                            <th>Trans. Type</th>
                                                            <th>Credit</th>
                                                            <th>Debit</th>
                                                            <th>Balance</th>
                                                            <th>Balance2</th>
                                                            <th>Bonus</th>
                                                            <th>Product</th>
                                                            <th>UserName</th>
                                                            <th>NewUser</th>
                                                            <th>Topup</th>
                                                            <th>Agent</th>
                                                            <th>Status</th>
                                                            <th>Note</th>
                                                            <th>M.Count</th>
                                                            <th>Modified Date</th>
                                                            <th>Action</th>
                                                        </tr>
                                                        {% for transaction in transactions  %}
                                                            <tr class="unread">
                                                                <td>
                                                                    <h6 class="mb-1">{{transaction.id}}</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="mb-1">{{transaction.bank.username}}</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="mb-1">{{transaction.trans_date}}</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="mb-1">{{transaction.trans_date}}</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="mb-1">{{transaction.bank.name}}</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="mb-1">{{transaction.description}}</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="mb-1">{{transaction.get_trans_type_display}}</h6>
                                                                </td>
                                                                <td>
                                                                    {% if transaction.get_trans_type_display == 'Credit' %}
                                                                        <h6 class="mb-1">{{transaction.amount|floatformat:2}}</h6>
                                                                    {% else %}
                                                                        <h6 class="mb-1">0.00</h6>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if transaction.get_trans_type_display == 'Debit' %}
                                                                        <h6 class="mb-1">{{transaction.amount|floatformat:2}}</h6>
                                                                    {% else %}
                                                                        <h6 class="mb-1">0.00</h6>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <h6 class="mb-1">{{transaction.bank.available_balance|floatformat:2}}</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="mb-1">{{transaction.bank.available_balance|floatformat:2}}</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="mb-1">0.00</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="mb-1">-</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="mb-1">-</h6>
                                                                </td>
                                                                <td>
                                                                    <input type="checkbox" name="selected_items" value="">
                                                                </td>
                                                                <td>
                                                                    <input type="checkbox" name="selected_items" value="">
                                                                </td>
                                                                <td>
                                                                    <input type="checkbox" name="selected_items" value="">
                                                                </td>
                                                                <td>
                                                                    <h6 class="mb-1">{{transaction.get_status_display}}</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="mb-1">-</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="mb-1">1</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="mb-1">{{transaction.trans_date}}</h6>
                                                                </td>
                                                                <td>
                                                                    <i class="fa fa-share"></i> | <i class="fa fa-dollar-sign"></i> | <i class="fa fa-user"></i>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}



